
.vs/IPhoneWindowsTransfer/v15/Server/sqlite3/storage.ide-shm
.vs/IPhoneWindowsTransfer/v15/Server/sqlite3/storage.ide-wal
.vs/IPhoneWindowsTransfer/v17/.wsuo
.vs/IPhoneWindowsTransfer/FileContentIndex/8947bb6c-3fa8-4c1a-93eb-f4a28847c091.vsidx
*.vsidx
.vs/IPhoneWindowsTransfer/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/IPhoneWindowsTransfer/v17/.wsuo
*.sqlite
